.pixel {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html[data-theme="dark"] img {
    filter: none;
}
html[data-theme="dark"] .bd-content img:not(.only-dark):not(.dark-light) {
    background: unset;
}